.Abox {
	width: 1400px;
	height:330px;
}

.Bbox {
	width: 550px;
	height: 330px;
	border: 1px solid black;
	float: left;
}

#sbox {
	float: left;
	width: 170px;
	border: 2px solid white;
}

#box {
	text-decoration: underline;
	position: center;
	font-size: 22px;
	text-align: center;
}
#message{
text-align:center;
}

td {
	text-align: left;
}

#a{
clear:both;
}

h2{
color:red;
}
