@CHARSET "UTF-8";

#footer {
    height: 70px;
    background: #2c3e50;
    width:100%;
		}
.under{

    font-size:20px;
    color:white;
    text-align: center;
}
.guide ul{
    display:flex;
    margin:0;
}
.guide li{
    list-style-type:none;
    flex-grow: 1;
    text-align:center;
    text-decoration: none;
	color: #fff;
	font-weight: bold;
}