
.address{
	float:left;
	width:28%;
	margin-right:20px;
	padding: 0.5em;
	background-color: #f4f4f4;
	border-left: solid 5px #464646;
	box-shadow: 2px 2px 4px gray;
}
.left1:after{
	clear:both;
	display:block;
	content:"";
}
.blank{
	margin-bottom:10px;
	font-weight:bold;
	font-size:14px;
}
.left2{
	margin-top:10px;
	text-align:center;
}